<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

   
    <div class="heading">
        <h1>Get the accurate resale value of your car</h1>
    </div>
    <img src="/static/image/car.jpg" alt="">
    <div class="para">
       <aside> <p>With difficult economic conditions, it is likely that sales of
            reconditioned second-hand cars will increase. In most of the
            countries, it is common to lease a car rather than buying it
            outright. A lease is a binding contract between a buyer and a
            seller in which the buyer must pay fixed instalments for a pre-
            defined number of months/years to the seller/financer. After
            the lease period is over, the buyer has the possibility to buy the
            car at its residual value, ic. its expected resale value. Thus, this
            application is of commercial interest to seller/financers to be
            able to predict the residual value of cars with accuracy.
        </p></aside>
    </div>
    <div class="btn">
        <button><a href="predict">want to know resale value of your car</a></button>
    </div>
</body>
</html>